<h1>Your Text Analysis</h1>

<h2>Number of Words: <%=@text_from_user.count_of_words%> </h2>

<h2>Vowels: <%=@text_from_user.count_of_vowels%></h2>

<h2>Consonants: <%=@text_from_user.count_of_consonants%></h2>

<h2>Most Common Letter: <%=@text_from_user.most_used_letter.keys[0].upcase %>,used <%=@text_from_user.most_used_letter.values[0]%> times</h2>
